<a href="https://colab.research.google.com/github/rfkye/TugasGit/blob/main/Kelompok_18_Project_Part_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DW DIBIMBING KELOMPOK 18

Hakim Zoelva Mahesa

Agym Nastiar Arman

Putri Aulia Angelina

Muh. Rifky Efendi

Buatlah class MarketingDataETL yang memiliki tiga metode:

extract(): akan membaca data dari sebuah file CSV (Misalkan, marketing_data.csv)

transform(): akan melakukan pembersihan dan transformasi sederhana pada data (seperti mengubah format tanggal atau membersihkan nilai yang kosong)

store(): akan menyimpan data yang telah ditransformasi ke dalam struktur data DataFramet.

***TASK #1***

In [ ]:
import pandas as pd

class MarketingDataETL:
    def __init__(self):
        pass

    def extract(self, file_CSV):
        try:
            # Membaca file csv
            df = pd.read_csv(file_CSV, sep=';')
            return df
        except FileNotFoundError:
            print("File anda tidak ditemukan.")
            return None

    def transform(self, data):
        # Melihat struktur dataframe
        print("Struktur DataFrame:")
        print(data)

        # Melihat info dari dataframe
        print("\nInfo DataFrame:")
        print(data.info())

        # Sorting data menurut customer id
        data.sort_values(by='customer_id', inplace=True)

        # Mengecek dan menghilangkan data kosong
        print("\nData missing:")
        print(data.isnull().sum())

        data.dropna(inplace=True)

        # Menghilangkan duplicate baris
        data.drop_duplicates(inplace=True)

        #Mengubah format tanggal
        data['purchase_date'] = pd.to_datetime(data['purchase_date'], format='%d/%m/%y')

        return data

    def store(self, transformed_data, output_file):
        try:
            transformed_data.to_csv(output_file, index=False)
            print("Data yang telah ditransformasi disimpan dalam file '{}'.".format(output_file))
        except Exception as e:
            print("Terjadi kesalahan saat menyimpan data yang diubah:", e)

In [ ]:
file_CSV = "marketing_data.csv"
etl = MarketingDataETL()
data = etl.extract(file_CSV)
print("\nData sebelum transformasi:")
print(data)

transformed_data = etl.transform(data)
print("\nData setelah transformasi:")
print(transformed_data)

Data sebelum transformasi:
  customer_id purchase_date product_category  amount_spent
0        C001      01/03/23      Electronics        250.00
1        C002      02/03/23            Books         45.50
2        C003      03/03/23    Home & Garden        150.75
3        C001      04/03/23            Books         20.00
4        C002      05/03/23      Electronics        525.00
5        C004           NaN      Electronics        399.99
6        C003           NaN            Books         10.50
7        C005      07/03/23           Beauty         75.00
Struktur DataFrame:
  customer_id purchase_date product_category  amount_spent
0        C001      01/03/23      Electronics        250.00
1        C002      02/03/23            Books         45.50
2        C003      03/03/23    Home & Garden        150.75
3        C001      04/03/23            Books         20.00
4        C002      05/03/23      Electronics        525.00
5        C004           NaN      Electronics        399.99
6        C003           NaN            Books         10.50
7        C005      07/03/23           Beauty         75.00

Info DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       8 non-null      object
 1   purchase_date     6 non-null      object
 2   product_category  8 non-null      object
 3   amount_spent      8 non-null      float64
dtypes: float64(1), object(3)
memory usage: 384.0+ bytes
None

Data missing:
customer_id         0
purchase_date       2
product_category    0
amount_spent        0
dtype: int64

Data setelah transformasi:
  customer_id purchase_date product_category  amount_spent
0        C001    2023-03-01      Electronics        250.00
3        C001    2023-03-04            Books         20.00
1        C002    2023-03-02            Books         45.50
4        C002    2023-03-05      Electronics        525.00
2        C003    2023-03-03    Home & Garden        150.75
7        C005    2023-03-07           Beauty         75.00

In [ ]:
stored_data = etl.store(transformed_data, "transformed_data.csv")
print(stored_data)

Data yang telah ditransformasi disimpan dalam file 'transformed_data.csv'.
None

***TASK #2***

Gunakan inheritance untuk membuat class TargetedMarketingETL yang mewarisi dari MarketingDataETL.

Tambahkan metode segment_customers() yang mengelompokkan pelanggan berdasarkan kriteria tertentu (misalnya, pengeluaran total atau kategori produk yang dibeli).

Demonstrasi polymorphism dengan meng-override metode transform() dalam TargetedMarketingETL untuk menambahkan logika segmentasi pelanggan ke dalam proses transformasi.

In [ ]:
import pandas as pd

In [ ]:
class TargetedMarketingETL(MarketingDataETL):
    def _init_(self):
        super()._init_()

    def segment_customers(self, data, criteria):
        segmented_data = data.groupby(criteria)['customer_id'].apply(list)
        return segmented_data
    def transform(self, data):
        transformed_data = super().transform(data)
        criteria = 'product_category'
        segmented_data = self.segment_customers(transformed_data, criteria)
        transformed_data['segmented_customers'] = transformed_data['product_category'].map(segmented_data)

        return transformed_data

In [ ]:
targeted_etl = TargetedMarketingETL()

segmented_data = targeted_etl.segment_customers(data, 'product_category')

print("\nHasil Segmentasi Pelanggan:")
for category, customers in segmented_data.items():
    print("Kategori {}: {}".format(category, customers))

Hasil Segmentasi Pelanggan:
Kategori Beauty: ['C005']
Kategori Books: ['C001', 'C002']
Kategori Electronics: ['C001', 'C002']
Kategori Home & Garden: ['C003']

In [ ]:
file_CSV = "marketing_data.csv"
etl = MarketingDataETL()
data = etl.extract(file_CSV)
print("\nData sebelum transformasi:")
print(data)

transformed_data = etl.transform(data)
print("\nData setelah transformasi:")
print(transformed_data)

targeted_etl = TargetedMarketingETL()
segmented_data = targeted_etl.segment_customers(transformed_data, 'product_category')

print("\nHasil Segmentasi Pelanggan:")
for category, customers in segmented_data.items():
    print("Kategori {}: {}".format(category, customers))

# Memanggil metode transform yang dioverride dalam TargetedMarketingETL
transformed_data_targeted = targeted_etl.transform(data)
print("\nData setelah transformasi dengan segmentasi pelanggan:")
print(transformed_data_targeted)

Data sebelum transformasi:
  customer_id purchase_date product_category  amount_spent
0        C001      01/03/23      Electronics        250.00
1        C002      02/03/23            Books         45.50
2        C003      03/03/23    Home & Garden        150.75
3        C001      04/03/23            Books         20.00
4        C002      05/03/23      Electronics        525.00
5        C004           NaN      Electronics        399.99
6        C003           NaN            Books         10.50
7        C005      07/03/23           Beauty         75.00
Struktur DataFrame:
  customer_id purchase_date product_category  amount_spent
0        C001      01/03/23      Electronics        250.00
1        C002      02/03/23            Books         45.50
2        C003      03/03/23    Home & Garden        150.75
3        C001      04/03/23            Books         20.00
4        C002      05/03/23      Electronics        525.00
5        C004           NaN      Electronics        399.99
6        C003           NaN            Books         10.50
7        C005      07/03/23           Beauty         75.00

Info DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       8 non-null      object
 1   purchase_date     6 non-null      object
 2   product_category  8 non-null      object
 3   amount_spent      8 non-null      float64
dtypes: float64(1), object(3)
memory usage: 384.0+ bytes
None

Data missing:
customer_id         0
purchase_date       2
product_category    0
amount_spent        0
dtype: int64

Data setelah transformasi:
  customer_id purchase_date product_category  amount_spent
0        C001    2023-03-01      Electronics        250.00
3        C001    2023-03-04            Books         20.00
1        C002    2023-03-02            Books         45.50
4        C002    2023-03-05      Electronics        525.00
2        C003    2023-03-03    Home & Garden        150.75
7        C005    2023-03-07           Beauty         75.00

Hasil Segmentasi Pelanggan:
Kategori Beauty: ['C005']
Kategori Books: ['C001', 'C002']
Kategori Electronics: ['C001', 'C002']
Kategori Home & Garden: ['C003']
Struktur DataFrame:
  customer_id purchase_date product_category  amount_spent
0        C001    2023-03-01      Electronics        250.00
3        C001    2023-03-04            Books         20.00
1        C002    2023-03-02            Books         45.50
4        C002    2023-03-05      Electronics        525.00
2        C003    2023-03-03    Home & Garden        150.75
7        C005    2023-03-07           Beauty         75.00

Info DataFrame:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 7
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       6 non-null      object
 1   purchase_date     6 non-null      datetime64[ns]
 2   product_category  6 non-null      object
 3   amount_spent      6 non-null      float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 240.0+ bytes
None

Data missing:
customer_id         0
purchase_date       0
product_category    0
amount_spent        0
dtype: int64

Data setelah transformasi dengan segmentasi pelanggan:
  customer_id purchase_date product_category  amount_spent segmented_customers
0        C001    2023-03-01      Electronics        250.00        [C001, C002]
3        C001    2023-03-04            Books         20.00        [C001, C002]
1        C002    2023-03-02            Books         45.50        [C001, C002]
4        C002    2023-03-05      Electronics        525.00        [C001, C002]
2        C003    2023-03-03    Home & Garden        150.75              [C003]
7        C005    2023-03-07           Beauty         75.00              [C005]